/* media queries to change num columns */

@media screen and (min-width: 700px) {
    
    .song-grid {
        grid-template-columns: repeat(2, 250px);
    }
}

@media screen and (min-width: 850px) {
    
    .song-grid {
        grid-template-columns: repeat(3, 250px);
    }
}

@media screen and (min-width: 1200px) {
    
    .song-grid {
        grid-template-columns: repeat(4, 250px);
    }
}